nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
}

#welcome-section {
    background-color: lightcoral;
    height: 100vh;
}

.project-tile {
    background-color: lightblue;
    width: 30px;
    height: 30px;
}


@media (max-width: 700px) {
    h1 {
        font-size: 18px;
    }
}